<div class="mt-5 p-5 border rounded border-primary">
  <h2>Evens Observable.</h2><h3> Continues to generate evens every 1 second</h3>
   <p>Open Console. Toggle Evens. Click Subscribe. Watch display. Toggle Again. Note it stops.</p>
  <button (click)="isEvensOn=!isEvensOn">Toggle Evens Observable</button>
  <app-evens-observable *ngIf="isEvensOn"></app-evens-observable></div>

  <div class="mt-5 p-5 border rounded border-primary">
  <h2>Odds Observable.</h2><h3>Continues to generate odds every 1 second, then generates an error</h3>
<p>Open Console. Toggle Odds. Click Subscribe. Watch display. After 3 is reached an error is thrown by Observable. </p>
  <button (click)="isOddsOn=!isOddsOn">Toggle Odds Observable</button>
  <app-odds-observable *ngIf="isOddsOn"></app-odds-observable>
  </div>

  <div class="mt-5 p-5 border rounded border-primary">
  <h2>RxJS Operators with Observable.</h2><h3>Demos using operators from RxJS</h3>
<p>Open Console. Toggle Odds. Click Subscribe. Watch display. After 3 is reached an error is thrown by Observable. </p>
  <button (click)="isOddsOn=!isOddsOn">Toggle Operators Observable</button>
  <app-operators-observable *ngIf="isOddsOn"></app-operators-observable>
  </div>


